.PaginationButton__Container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.App__NavBar{
    grid-area: header;
}
.App__MainBody {
    grid-area: main;
    overflow-y: scroll;
}
.App__SideBar {
    grid-area: sidebar;
}
.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
      "header header header header header"
      "sidebar main main main main";
    column-gap: 5px;
    height: 100%;
}