.ConnectionStringBar {
  margin-top: 8px;
  display: flex;
  padding-right: 8px;
}

.ConnectionStringBar__Label {
  margin-left: 24px;
  margin-right: 24px;
}

.ConnectionStringBar__TextField {
  flex-grow: 1;
  margin-right: 8px;
}
